
[mysqld]

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

# http://www.chriscalender.com/ignoring-the-lostfound-directory-in-your-datadir/
ignore-db-dir=lost+found

# GlusterFS equivalent of 'lost+found'
ignore-db-dir=.trashcan

#auto_increment_increment = 2
#auto_increment_offset	= 0

#replication
#server-id = 0
#report_host = master
#log_bin = /var/lib/mysql/mariadb-bin
#log_bin_index = /var/lib/mysql/mariadb-bin.index
#relay_log = /var/lib/mysql/relay-bin
#relay_log_index = /var/lib/mysql/relay-bin.index
#expire_logs_days = 5
#slave-skip-errors=1062

!includedir /etc/my.cnf.d
