@import "~bootstrap/scss/bootstrap";
@import '~react-toastify/scss/main.scss';
@import '~react-select2-wrapper/css/select2.css';

.form-check-label,
.form-label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.table {
    .preview {
        height: 150px;
        width: 100%;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.preview {
    height: 150px;
    width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
