.c-header.c-header-fixed{
    top:0px;
}

.click-file{
    cursor:pointer;
}

.c-sidebar-nav{
    > .c-sidebar-nav-item{
        > .c-sidebar-nav-dropdown-items{
            > .c-sidebar-nav-item{                
                i{
                    flex:0 0 56px;
                }
            }
        }
    }
}